.container{

background-color: red;
border: 2px solid yellow;
height: 700px;
width: 900px;

}

.item{

background-color: aqua;
height: 122px ;
width: 122px;

}

.item1{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: black;
}

.footer{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: black; 
}
