*{
    padding: 0;
    margin: 0;
}

.container{
background-color: red;
height: 700px;
/* width: 900px; */
display: grid;
grid-template-rows: 43px 1fr 43px;
grid-template-columns:  1fr 1fr 1fr;
row-gap: 12px;
column-gap: 12px;
justify-content: end;
}

.item{
background-color: aqua;
/* height: 122px;
width: 122px; */

}
.item1{
/* background-color: aqua; */
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: black;
}
.footer{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: black;
}