body{
	background-color:tomato;
}
#input1, #input2{
font-size: 14px;
  margin: 1rem;
  border: 2px solid tomato;
  border-radius: 0.5rem;
  max-width: 150px;
  text-align: center;
  width: 50%;
  padding: 12px 20px;
}

#add,#subtract,#multiply,#divide{
	font-size: 14px;
  	margin: 1rem;
  	border: 2px solid tomato;
  	max-width: 100px;
 	 text-align: center;

  	padding: 12px 20px;

}
#output
{
	font-size: 25px;
  margin: auto;
  border: 2px solid green;
  border-radius: 0.5rem;
  max-width: 150px;
  text-align: center;
  width: 50%;
  padding: 12px 20px;

}

#container{
  text-align: center;
}